{
  "extends": ["airbnb", "prettier"],
  "globals": {
    "graphql": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    // "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    // "comma-dangle": ["error", "always-multiline"],
    // "function-paren-newline": "off",
    // "no-console": "off",
    "no-console": "warn",
    "prefer-destructuring": "warn",
    "react/destructuring-assignment": "warn",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    // "jsx-a11y/anchor-is-valid": "off",
    // "jsx-a11y/click-events-have-key-events": "off",
    // "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-filename-extension": "off",
    // "react/prefer-stateless-function": "off",
    "react/prop-types": "off", // I'll get to TypeScript eventually
    "react/jsx-props-no-spreading": "warn"
    // "arrow-parens": "off",
    // "import/prefer-default-export": "off",
    // "no-restricted-syntax": "off"
  }
}
