/** 
 * Generic
 */

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
  box-shadow: none !important;
}

hr {
  margin-top: 52px;
  margin-bottom: 52px;
  border: 0;
  display: block;
  height: 26px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-image: linear-gradient(
    to bottom,
    transparent 1px,
    transparent 11px,
    transparent 15px,
    transparent 26px
  );
  width: 100px;
}

a {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
  }
}

a > svg {
  fill: white;
}

b,
strong {
  font-weight: 500;
}

// ul {
//   list-style: square;
//   @include margin-bottom(1);
//   & li {
//     padding: 0 5px;
//     margin-bottom: 10px;
//   }
// }

p {
  @include line-height(1.2);
  @include margin-bottom(1);
}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(0.75);
  @include margin-top(0.25);
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.layout {
  lost-center: $layout-width;
}

.footer {
  lost-center: $layout-width;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

.content {
  &__inner {
    padding: 25px 20px;
    @media screen and (max-width: 685px) {
      padding-top: 10px;
    }
  }
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }
  .float-right {
    float: right;
  }
  .float-left {
    float: left;
  }
  .content {
    lost-column: 7/12;
    &__inner {
      padding: 30px 20px;
    }
  }
}

@include breakpoint-md {
  .content {
    lost-column: 2/3;
    &__inner {
      padding: 40px 35px;
    }
  }
}

.white-text {
  color: #fff;
}

.black-text {
  color: #333333 !important;
}
