@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.avatar-badge {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: right;

  @media screen and (max-width: 685px) {
    justify-content: center;
  }
}

.avatar-badge-avatar {
  flex: 1 0 auto;
  margin-right: 0.7rem;
  display: flex;
  justify-content: flex-end;
}

.avatar-badge-img {
  border: 1px solid #eeeeee;
  margin-bottom: 0;
  border-radius: 50%;
  background-clip: padding-box;
}

.avatar-badge-information {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
