@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  @include margin-bottom(1.25);
  &:last-child {
    @include margin-bottom(0.5);
  }
  &__title {
    font-size: $typographic-base-font-size * 1.2;
    line-height: normal;
    @include margin-top(0.1);
    @include margin-bottom(0.1);
    &-link {
      &:hover,
      &:focus {
      }
    }
  }
  &__description {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-bottom(0.1);
    @include margin-top(0);
  }
  &__meta {
    &-time {
      font-size: $typographic-small-font-size * 0.8;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-divider {
      margin: 0 5px;
    }
    &-category {
      &-link {
        font-size: $typographic-small-font-size;
        font-weight: 500;
        text-transform: uppercase;
        &:hover,
        &:focus {
        }
      }
    }
  }
  &__readmore {
    font-size: $typographic-base-font-size;
    &:hover,
    &:focus {
    }
  }
}
